.NavBarContainer {
    background-color: yellow;
    display: flex;
    height: 35px;
}

.HenryLogo {
    margin-left: 5px;
    height: 100%;
}

.NavBarContainer h1 {
    font-size: 15px;
    align-self: center;
    margin-left: 5px;
}