.CardContainer {
    background-color: red;
    display: flex;
    flex-direction: column;
    width: 55%;
}

@media only screen and (max-width: 700px) {
    .CardContainer {
        background-color: pink;
        width: 95%;
    }
}